<html>

<head>
    <link rel="manifest" href="/assets/js/manifest.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="user-scalable=no" />
    <link rel="apple-touch-icon" sizes="192x192" href="./icon-192x192.png">

    <script src="/assets/js/pwa.js"></script>

</head>

<body scroll="no">
    <div class="main-container">
        <div class="glass-container">
            <div class="glass-title">
                <h1>Please log in to continue</h1>
            </div>
            <div class="glass-content">
                <div class="glass-content-item">
                    <a href="/login" class="button">Click here to login</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>