<html>

<head>
    <link rel="manifest" href="../../../front/client/public/js/manifest.webmanifest">
    <script defer src="../../../front/client/public/js/main.js" type="module"></script>
    <script src="../../../front/client/public/js/qr-scanner-worker.min.js" type="module"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./serviceWorker.js')
                .then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }).catch(function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
        }
    </script>
</head>

<body>
    <button class="btn">open camera</button>
    <input type="file" accept="image/*;capture=camera">
    <video id="video"></video>

    <script src="../../../front/client/public/js/pwa.js"></script>
</body>

</html>