<html>
    <head>
        <link rel="stylesheet" href="/assets/css/style.css">
        <meta name="viewport" content="user-scalable=no" />
        <link rel="apple-touch-icon" sizes="192x192" href="./icon-192x192.png">
        <script src="/assets/js/ticket.js"></script>
    </head>
    <header>
        <div>
            <img src="/assets/images/NoMoreReceipt.png" alt="NoMoreReceipt" class="logo"/>
        </div>
        <div>
            No More Receipt
        </div>
    </header>
    <body>
        <div class="main-container">
            <div class="glass-container">
                <h1 id="shopName"></h1>
                <div id="articles">
                    
                </div>
            </div>
        </div>
    </body>
</html>